/* your styles go here */

.box-masonry-text h4 {
    margin-bottom: 0;
}

.owl-nav {
    display: flex;
    justify-content: space-evenly;
}
.owl-nav button {
    min-width: 2rem;
}

.owl-nav button span {
    font-size: 2.5rem;
}

/* Component transition */
.fade-leave {
    opacity: 1;
}
.fade-leave-active {
    transition: opacity 300ms ease;
}
.fade-leave-to {
    opacity: 0;
}

.fade-enter {
    opacity: 0;
}
.fade-enter-active {
    transition: opacity 300ms ease;
    transition-delay: 300ms;
}
.fade-enter-to {
    opacity: 1;
}
